<nav class="navbar">
  <div class="container">
    <a routerLink="/home" class="logo">
      Rock Classics Store
    </a>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active" ariaCurrentWhenActive="page">Productos</a></li>
      <li><a routerLink="/nosotros" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre Nosotros</a></li>
      <li><a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page">Registro</a></li>
      <li><a routerLink="/iniciar-sesion" routerLinkActive="active" ariaCurrentWhenActive="page">Iniciar Sesión</a></li>
      
    </ul>
  </div>
</nav>